@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --color-primary: #0A3871;
    --color-secundario: #D8DFE8;
    --color-terciario: #495057;
    --color-cuaternario: #343A40;
    --color-hover-primary: #3e6391d3;
    --color-hover-terciario: #80868dd3;
    --fuente-inter: "Inter", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px; 
}

.header__image{
    width: 120px;
    height: 48px;
    margin-top: 4.347dvh;
    margin-left: 0.5%;
    padding-left: 0px;
}
.main{
    display: flex;
    gap: 10.5dvh;
    justify-content: center;
}
.main__text {
    margin-top: 20px;
}

.main__text__title{
    font-family: var(--fuente-inter);
    color: var(--color-primary);
    font-size: 2rem;
}

.main__text__area{
    margin: 15px 0px;
    width: 680px;
    height: 500px;
    border-radius: 0.8dvh;
    border: 1px solid var(--color-primary);
    background-color: var(--color-secundario);
    font-size: 1rem;
    color: var(--color-terciario);
    font-family: var(--fuente-krona);
    padding: 5px;
}
.main__text__parrafo{
    font-family: var(--fuente-inter);
    color: var(--color-terciario);
    font-size: 0.75rem ;
    display: flex;
    gap: 3px;
}
.main__text__buttons{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.main__text__buttons .encriptar{
    width: 48%;
    height: 9dvh;
    border-radius: 24px;
    background-color: var(--color-primary);
    border: none;
    color: var(--color-secundario);
}
.main__text__buttons .encriptar:hover{
    background-color: var(--color-hover-primary);
}
.main__text__buttons .desencriptar:hover{
    background-color: var(--color-hover-terciario);
    border: none;
}
.main__text__buttons .desencriptar{
    width: 48%;
    height: 9dvh;
    border-radius: 24px;
    background-color: var(--color-secundario);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.disabled-button {
    opacity: 0.6;
    cursor: not-allowed;
}

.main__pictuare{
    margin-top: 15.5dvh;
}
.main__pictuare__doll{
    width: 41dvh;
    height: 37dvh;
}
.main__pictuare__subtitle{
    margin-top: 15px;
    font-family: var(--fuente-inter);
    font-size: 1.5rem;
    color: var(--color-cuaternario);
    font-weight: bold;
}
.main__pictuare__parrafo{
    margin-top: 8px;
    font-family: var(--fuente-inter);
    font-size: 1rem;
    color: var(--color-terciario);
}
.main__pictuare__parrafo_encrypted{
    margin-top: 8px;
    font-family: var(--fuente-inter);
    font-size: 1.5rem;
    color: var(--color-terciario);
}
footer{
    margin-top: 30px;
    height: 90px;
    background-color: var(--color-primary);
    color: var(--color-secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente-krona);
}

.hidden {
    display: none !important;
}


/* Vista tablet menor de 1250 */

@media (max-width: 1250px){
    .main{
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
    }
    .main__pictuare{
        margin-top: 10px;
    }
    .main__pictuare__doll{
        display: none;
    }
}

/* Vista celular menor de 730px*/

@media (max-width: 730px){
    .header__image{
        margin-left: -5%;
        margin-top: 4%;
    }
    .main{
        margin: 0 auto;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .main__text{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__text__title{
        width: 100%;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
    }
    .main__text__parrafo{
        width: 100%;
    }
    .main__text__area{
        width: 100%;
        height: 250px;
        font-size: 1rem;
    }
    .main__text__buttons{
        width: 100%;
    }
    .main__pictuare{
        margin-top: -60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__pictuare__subtitle{
        font-size: 1.2rem;
    }
    .main__pictuare__parrafo{
        font-size: 0.8rem;
    }
    .main__pictuare__parrafo_encrypted{
        font-size: 1rem;
    }
    footer{
        margin-top: 30px;
        height: 90px;
        background-color: var(--color-primary);
        color: var(--color-secundario);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--fuente-krona
        );
    }
}